{% extends 'base.html.twig' %}

{% block body %}

<!-- Page Header -->

<header class="masthead" style="background-image: url('img/post-bg.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-heading">

          <h2 class="subheading">Liste des articles</h2>

          <div>
            {% for article in articles %}
            <div class="jumbotron masthead">
              <h2>{{ article.title }}</h2>
              <div class="metadata">
                Ecrit le {{ article.createdAt | date('d/m/Y')}} à {{ article.createdAt | date('H:i') }} dans la
                catégorie {{article.category.title}}

                <div><a href="{{ path('blog_show', {'id': article.id} )}}" class="btn btn-primary bouton">Lire la
                    suite</a></div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>

      </div>
    </div>
  </div>
</header>
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      
      <div class="row text-center ">
        <div class="text-center btn btn-primary">{{ knp_pagination_render(articles)}}</div>
      </div>
    </div>
  </div>
</div>

<hr>



<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <ul class="list-inline text-center">
          <li class="list-inline-item">
            <a href="#">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-github fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
        </ul>
        <p class="copyright text-muted">Copyright &copy; Blog 2020</p>
      </div>
    </div>
  </div>
</footer>
{% endblock %}