{% extends "base.html.twig" %}

{% block body %}
<section class="articles">
    <article>
        <h2>{{article.title}}</h2>
        <div class="metadata">Ecrit le {{article.createdAt | date('d/m/Y')}} à {{article.createdAt | date('H:i')}} dans la catégorie Politique</div>
        <div class="content">
            <img src="{{article.image}}" alt="">
            {{article.content | raw}}
        </div>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id earum, assumenda eius cumque exercitationem, odio iure amet distinctio quam impedit inventore eum officiis, repellat aliquid beatae quisquam saepe. Veritatis hic nemo veniam provident omnis minima iusto. Autem voluptatibus placeat odit, nam consectetur odio minus laborum? Id blanditiis architecto nisi tempora.</p>
        <p>Illo aut tempore atque omnis temporibus enim voluptatem vitae rerum ut autem veniam ab, quibusdam praesentium maxime, labore odit animi. Modi excepturi est voluptas voluptatibus vitae quo soluta deleniti, veritatis delectus in assumenda fugit necessitatibus, molestiae, dolorem earum odio animi cupiditate? Commodi dolor maiores fuga optio dignissimos dolores delectus rem!</p>
    </article>
</section>
{% endblock body %}